@import "tailwindcss";

@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('@fontsource-variable/inter/files/inter-latin-wght-normal.woff2') format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter Variable", Inter, system-ui, sans-serif;
  --text-sm: 1rem;
  --text-xs: 0.8rem;
  --text-base: 1.125rem;
}

@layer base {
  html {
    font-family: var(--font-sans);
    font-feature-settings: 'cv11', 'ss01';
    font-size: 18px;
  }
}
