---
import Layout from '../layouts/Layout.astro';
import ProseCard from '../components/ProseCard.astro';
---

<Layout title="404" description="Page not found">
  <ProseCard>
    <h1>404 — Page not found</h1>
    <img
      src="https://http.cat/404"
      alt="A picture that says '404' with a silly cat"
      class="mx-auto my-6 rounded-lg"
    />
  </ProseCard>
</Layout>
