---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import AboutMe from "../components/AboutMe.astro";
import TechStack from "../components/TechStack.astro";
import Friends from "../components/Friends.astro";
import LastFM from "../components/LastFM.astro";
import ReviewDB from "../components/ReviewDB.astro";
---

<Layout
	title="Home"
	description="About me, tech stack, friends, and reviewdb all found here!"
>
	<div class="mx-auto max-w-5xl px-6 py-16">
		<div class="grid grid-cols-1 gap-x-16 gap-y-12 md:grid-cols-2">
			<!-- LEFT COLUMN -->
			<div class="flex flex-col gap-12">
				<Profile />
				<AboutMe />
				<TechStack />
			</div>
			<!-- RIGHT COLUMN -->
			<div class="flex flex-col gap-12">
				<Friends />
				<ReviewDB />
				<LastFM />
			</div>
		</div>
	</div>
</Layout>
