---
import { Icon } from "astro-icon/components";
---

<section class="flex flex-col gap-3">
	<div class="flex items-center gap-2">
		<Icon name="lucide:pen-line" class="size-4 shrink-0" />
		<h2 class="font-black tracking-widest uppercase">About me</h2>
	</div>
	<p class="text-sm leading-relaxed">
		Junior front-end web developer with an interest in Docker, Linux, and
		DevOps. Obsessing over standards in Linux, Wayland development, and
		freedesktop specifications. Outside of dev work I'm into emulation, indie
		games, and multimedia formats like Opus and JXL.
	</p>
</section>
