---
import { Icon } from "astro-icon/components";
---

<footer class="mt-auto border-t border-neutral-200 dark:border-neutral-800">
	<div class="mx-auto flex h-14 max-w-4xl items-center justify-between px-6">
		<a
			href="https://www.oracle.com/erp/"
			target="_blank"
			rel="noopener noreferrer"
			aria-label="heart"
			class="flex items-center justify-center gap-2"
		>
			Psst, you're cute
			<Icon name="lucide:heart" />
		</a>
		<a
			href="https://github.com/seraphicfae/seraphicfae.dev"
			target="_blank"
			rel="noopener noreferrer"
			aria-label="GitHub"
			class="text-neutral-400 transition-colors hover:text-neutral-900 dark:hover:text-neutral-100"
		>
			<Icon name="simple-icons:github" class="size-6" />
		</a>
	</div>
</footer>
